@import 'var';

.ecommerce-image-section{
	.container{
		@include respond(md) {
			overflow: hidden;
		}


	}
}


.ecommerce-banner-section{
	background-color: #DEC2FF;
	color: #fff;

	.banner-image{
		@include respond(md) {
			padding-top: 30px; 	
		}
		img{
			@include respond(md) {
				width: 100%;
			}
		}	
	}
}
.mobile-app-section{
	background-color: #D7E8FE;
	.image{
		img{
			width: 100%;
		}	
	}
}

.image{
	img{
		@include respond(md) {
			width: 100%;
		}
	}	
}

.quick-delivery-section{
	background-color: #000;
}
.porduct-section{
	background-color: #2D5EC1;
}


.middle-line{
	position: relative;
	&:before{
		position: absolute;
		top: 50%;
		left: 150px;
		right: 150px;
		background-color: $gray_light;
		height: 1px;
		content: "";
		@include respond(lg) {
			display: none;
		}
	}

	.box{
		background-color: #fff;
		z-index: 1;
		border: 1px solid $gray_light;
		height: 150px;
	    width: 150px;
	    margin: auto;
	    border-radius: 150px;
	    overflow: hidden;
	    display: flex;
	    align-items: center;
	    align-content: center;
	    span{
	    	text-align: center;
	    	margin: auto;
	    	img{
	    		display: block;
	    		margin: 0 auto 10px;
	    	}
	    }
	}
}