

    <div class="buttotm-section section">
        <div class="container">
            <div class="row align-items-center"> 
                <div class="col-sm-8"> 
                    <p class="h3">CADAU is the all in <br> one platform to build a online store</p>
                </div>
                <div class="col-sm-4 justify-content-end  text-right"> <a class="btn btn-outline-light btn-lg  dropdown-toggle btn-default"> START FREE TRIAL </a> </div>
            </div>
        </div>
    </div>