<div class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="col-md-3 footer-middle-in">
                        <a href="index.html">
                            <img alt="" src="images/log.png"/>
                        </a>
                        <p>
                            Suspendisse sed accumsan risus. Curabitur rhoncus, elit vel tincidunt elementum, nunc urna tristique nisi, in interdum libero magna tristique ante. adipiscing varius. Vestibulum dolor lorem.
                        </p>
                    </div>
                    <div class="col-md-3 footer-middle-in">
                        <h6>
                            Information
                        </h6>
                        <ul class=" in">
                            <li>
                                <a href="404.html">
                                    About
                                </a>
                            </li>
                            <li>
                                <a href="contact.html">
                                    Contact Us
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Returns
                                </a>
                            </li>
                            <li>
                                <a href="contact.html">
                                    Site Map
                                </a>
                            </li>
                        </ul>
                        <ul class="in in1">
                            <li>
                                <a href="#">
                                    Order History
                                </a>
                            </li>
                            <li>
                                <a href="wishlist.html">
                                    Wish List
                                </a>
                            </li>
                            <li>
                                <a href="login.html">
                                    Login
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix">
                        </div>
                    </div>
                    <div class="col-md-3 footer-middle-in">
                        <h6>
                            Tags
                        </h6>
                        <ul class="tag-in">
                            <li>
                                <a href="#">
                                    Lorem
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Sed
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Ipsum
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Contrary
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Chunk
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Amet
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Omnis
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-middle-in">
                        <h6>
                            Newsletter
                        </h6>
                        <span>
                            Sign up for News Letter
                        </span>
                        <form>
                            <input onblur="if (this.value == '') {this.value ='Enter your E-mail';}" onfocus="this.value='';" type="text" value="Enter your E-mail">
                                <input type="submit" value="Subscribe">
                                </input>
                            </input>
                        </form>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <ul class="footer-bottom-top">
                        <li>
                            <a href="#">
                                <img alt="" class="img-responsive" src="images/f1.png"/>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img alt="" class="img-responsive" src="images/f2.png"/>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img alt="" class="img-responsive" src="images/f3.png"/>
                            </a>
                        </li>
                    </ul>
                    <p class="footer-class">
                        © 2016 Shopin. All Rights Reserved | Design by
                        <a href="http://w3layouts.com/" target="_blank">
                            W3layouts
                        </a>
                    </p>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
        </div>