{% extends "layout.html" %}

{% block content %}
    <div class="page-header section gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 wow fadeInLeft">
                   <p class="h4">PROFESSIONAL EVENT THEMES</p>
                </div> 

                <div class="col-sm-4 wow fadeInRight">
                    <div class="input-group search-control">
                      <input type="text" class="form-control" placeholder="Search within this category">
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><img width="24px" src="{{assets('images/search-icon.svg')}}"></button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section porduct-section">
        <div class="container">
            <div class="servies">
                <div class="row justify-content-center mb-3"> 
                    {% for service in services %}
                        <div class="col-6 col-lg-3 mb-3 mb-lg-0">
                            <a href="#" class="rounded btn btn-outline-dark align-items-center d-flex wow zoomIn">
                                <img width="32px" src="{{assets(service.image)}}"> <span class="ml-3">{{service.title}}</span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 p-0">
                    <div class="side-bar box-shadow d-md-block d-none">
                        <h4 class="p-3">POPULAR DESIGNS</h4>
                        <div class="list-group list-group-flush">
                          <a href="#" class="list-group-item list-group-item-action wow zoomIn active"> Portfolios </a>
                          <a href="#" class="list-group-item list-group-item-action wow zoomIn "> Photography </a>
                          <a href="#" class="list-group-item list-group-item-action wow zoomIn "> Online Stores </a>
                          <a href="#" class="list-group-item list-group-item-action wow zoomIn "> Blogs & Podcasts </a>
                          <a href="#" class="list-group-item list-group-item-action wow zoomIn "> Local Business </a>
                          <a href="#" class="list-group-item list-group-item-action wow zoomIn "> Events </a>
                          <a href="#" class="list-group-item list-group-item-action wow zoomIn "> Weddings </a>
                          <a href="#" class="list-group-item list-group-item-action wow zoomIn "> Musicians & Bands </a>
                          <a href="#" class="list-group-item list-group-item-action wow zoomIn "> Restaurants </a>
                          <a href="#" class="list-group-item list-group-item-action wow zoomIn "> Personal & CV </a>
                        </div>
                    </div>

                    <div class="col-sm-12 mb-5 d-md-none d-block position-static category-dropdown">
                          <button type="button" class="btn btn-outline-primary dropdown-toggle w-100" data-toggle="dropdown" data-flip="false"> Categories </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item ">Portfolios</a>
                            <a class="dropdown-item">Photography</a>
                            <a class="dropdown-item">Online Stores</a>
                            <a class="dropdown-item">Blogs & Podcasts</a>
                            <a class="dropdown-item">Local Business</a>
                            <a class="dropdown-item">Events</a>
                            <a class="dropdown-item">Weddings</a>
                            <a class="dropdown-item">Musicians & Bands</a>
                            <a class="dropdown-item">Restaurants</a>
                            <a class="dropdown-item">Personal & CV</a>
                          </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="porduct-container row">
                        {% for porduct in porducts %}
                            <div class="porduct-item mb-3 col-sm-12 col-md-6 col-lg-4 wow zoomIn">
                                <div class="card">
                                    <img class="card-img-top" src="{{assets(porduct.image)}}" alt="{{porduct.price}}">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                             <div class="row">
                                                <div class="col">
                                                    {{porduct.title}}
                                                </div>
                                                <div class="col-auto">
                                                    {{porduct.price}}
                                                </div>
                                            </div>
                                        </h5>
                                        <p class="card-text text-muted"><small>{{porduct.description}}</small></p>
                                        <div class="row">
                                            <div class="col">
                                                <span class="text-muted">{{porduct.sales}}</span>
                                            </div>
                                            <div class="col-auto">
                                                <a href="#" class="btn btn-sm btn-outline-primary">Preview</a> 
                                                <a href="#" class="btn btn-sm btn-primary add-to-cart btn-icon"><img width="16px;" src="{{assets('images/shopping-cart.svg')}}"></a> 
                                            </div>
                                        </div>       
                                    </div>
                                </div>                              
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% include "partial/footer-bottom.html" ignore missing %}

{% endblock %}