@import 'var';

.site-footer{
	.foot-logo {
		img{
			max-width: 200px;
		}
	}
	.footer-nav{
		list-style: none;
		text-transform: uppercase;
		font-weight: 300;
		padding: 0;
	}
	.footer-bar{
		margin-top: 20px;
		border-top: 1px solid $gray_light;
		padding-top: 20px;
		padding-bottom: 20px;
		line-height: 1.5;
	}

	.social-icons{
		list-style: none;
		display: flex;
		flex-direction:row;
		padding: 0;
		@include respond(md) {
			margin-top: 15px;
		}
		li{
			a{
				height: 30px;
				width: 30px;
				font-size: 16px;
				line-height: 30px;
				margin-left: 10px;
			    display: block;
			    text-align: center;
			    @include respond(md) {
					margin-left: 0px;
			    	margin-right: 10px;
			    }
			}
		}
	}
}

.news-latter{
	margin-bottom: 100px;
	@include respond(md) {
		margin-bottom: 20px;
	}
	.form-control {
		@include respond(md) {
			width: 100%;
			border-radius: 0 !important;
			margin-bottom: 15px;
		}
	}
	.input-group-append{
		@include respond(md) {
			width: 100%;
		}
	}

	.btn {
		@include respond(md) {
			width: 100%;
			border-radius: 0 !important;
			margin: 0 auto;
		}
	}
}