{% extends "layout.html" %}  

{% block after_script %}
<script>
    console.log(123);
    $(document).ready(function(){
        $('.owl-carousel').owlCarousel();
    });
</script>
{% endblock %}

{% block content %}
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 d-flex">
                    <div class="banner-heading  align-self-center">
                        <h3 class="entry-title">Build online present</h3>
                        <h1 class="entry-title">Moments</h1>
                    </div>
                </div>

                <div class="col-sm-7">
                    <div class="banner-image">
                        <img src="{{ assets('images/home-banner.jpg') }}">
                    </div>
                </div>
            </div>

           
        </div>
    </div>


    <div class="section">
        <div class="container">
            <div class="section-title">
                <h2 >Services</h2>
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="serivce-list">
                <div class="row">
                    {% for service in services %}
                    <div class="col-xs-12 service-item col-sm">
                        <a href="{{service.url}}">
                            <div class="service-image">
                                <img src="{{assets(service.image)}}">
                            </div>
                            <h3 class="title">{{service.title}}</h3>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>



    <div class="section home-image-section section-1">
        <div class="container">
        <div class="inner-container">
            <div class="row">
                <div class="col-sm-5 align-self-center">
                    <div class="image">
                        <img src="{{assets('images/BANNER TEMPLATE.jpg')}}">
                    </div>
                </div>
                <div class="col-sm-7 content align-self-center">
                    <h2>Lorem ipsum dolor sit amet</h2>
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>


    <div class="section home-image-section section-2">
        <div class="container">
        <div class="inner-container">
             <div class="section-title">
                <h2>Seller & Users</h2>
                <p>Both can have ane mobil app with finest backend</p>
            </div>
            <div class="row">
                <div class="col-sm-12 align-self-center">
                    <div class="image">
                        <img src="{{assets('images/ECommerce.png')}}">
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>




    <div class="section home-image-section section-3">
        <div class="container">
        <div class="inner-container">
            <div class="section-title">
                <h2>Website</h2>
            </div>
            <div class="row">
                <div class="col-sm-5 align-self-center">
                    <div class="image">
                        <img src="{{assets('images/Collage.png')}}">
                    </div>
                </div>
                <div class="col-sm-7 content align-self-center">
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div class="section home-image-section section-4">
        <div class="container">
        <div class="inner-container">
            <div class="row">
                 <div class="col-sm-7 content align-self-center">
                    <h2>Lorem ipsum dolor sit amet</h2>
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
                    </ul>
                </div>
                <div class="col-sm-5 align-self-center">
                    <div class="image">
                        <img src="{{assets('images/Social.jpg')}}">
                    </div>
                </div>
               
            </div>
        </div>
        </div>
    </div>
   

{% endblock %}