{% extends "layout.html" %}

{% block content %}
    <div class="page-header section gray-bg wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 text-center offset-sm-2 ">
                   <p class="h4 wow zoomIn" data-wow-delay="0.5s">All projects on your Starter plan comes with Free Staging. Upgrade to a paid site plan to connect your custom domain and unlock other features.</p>  
                </div>
            </div>
        </div>
    </div>

    <div class="section pricing-section">
        <div class="container">
            <div class="pricing-container">
               
                {% for service in pricing %}
                    <div class="pricing-item">
                        <div class="background box-shadow wow fadeIn"></div>
                        <div class="row">
                            <div class="col bg-transprant">
                                <div class="title">
                                    <div class="service-image wow zoomIn"  data-wow-delay="0.5s">
                                        <img src="{{assets(service.image)}}">
                                    </div>
                                    <h3 class="wow zoomIn"  data-wow-delay="0.5s">{{service.title}}</h3>
                                </div>
                                <div class="server-details ">
                                    <ul>
                                        <li class="wow zoomIn" data-wow-delay="0.5s">Basic Website Metrics</li>
                                        <li class="wow zoomIn" data-wow-delay="0.5s">Mobile-optimized Websites</li>
                                        <li class="wow zoomIn" data-wow-delay="0.5s">Templates to Fit Every</li>
                                        <li class="wow zoomIn" data-wow-delay="0.5s">Need from Blogs to Portfolios</li>
                                        <li class="wow zoomIn" data-wow-delay="0.5s">Contributors</li>
                                        <li class="wow zoomIn" data-wow-delay="0.5s">Complete</li>
                                        <li class="wow zoomIn" data-wow-delay="0.5s">Customization with</li>
                                        <li class="wow zoomIn" data-wow-delay="0.5s">CSS and JavaScript</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col pricing-data bg-white  wow fadeIn">
                                <div class="title">
                                    <h3 class="wow zoomIn"  data-wow-delay="0.5s">Personal</h3>
                                    <p class="wow zoomIn"  data-wow-delay="0.5s">Its free for personal use or dummy lines</p>
                                </div>
                                <ul>
                                    <li class="wow zoomIn" data-wow-delay="0.5s"><span class="incliude active"></span></li>
                                    <li class="wow zoomIn" data-wow-delay="0.5s"><span class="incliude inactive"></span></li>
                                    <li class="wow zoomIn" data-wow-delay="0.5s"><span class="incliude inactive"></span></li>
                                    <li class="wow zoomIn" data-wow-delay="0.5s"><span class="incliude inactive"></span></li>
                                    <li class="wow zoomIn" data-wow-delay="0.5s"><span class="incliude inactive"></span></li>
                                    <li class="wow zoomIn" data-wow-delay="0.5s"><span class="incliude inactive"></span></li>
                                    <li class="wow zoomIn" data-wow-delay="0.5s"><span class="incliude inactive"></span></li>
                                    <li class="wow zoomIn" data-wow-delay="0.5s"><span class="incliude active"></span></li>
                                </ul>
                                <div class="buttons wow zoomIn"  data-wow-delay="0.5s"><a class="btn btn-primary" href="#">Get for Free</a></div>
                            </div>  

                            <div class="col pricing-data bg-white  wow fadeIn">
                                <div class="title">
                                    <h3 class="wow zoomIn" data-wow-delay="0.5s">Commercial <br> 40$ <small>Monthly</small></h3>
                                    <p class="wow zoomIn" data-wow-delay="0.5s">Save $96 annually</p>
                                </div>
                                <ul>
                                    <li class="wow zoomIn" data-wow-delay="0.5s"><span class="incliude active"></span></li>
                                    <li class="wow zoomIn" data-wow-delay="0.5s"><span class="incliude active"></span></li>
                                    <li class="wow zoomIn" data-wow-delay="0.5s"><span class="incliude active"></span></li>
                                    <li class="wow zoomIn" data-wow-delay="0.5s"><span class="incliude active"></span></li>
                                    <li class="wow zoomIn" data-wow-delay="0.5s"><span class="incliude active"></span></li>
                                    <li class="wow zoomIn" data-wow-delay="0.5s"><span class="incliude active"></span></li>
                                    <li class="wow zoomIn" data-wow-delay="0.5s"><span class="incliude active"></span></li>
                                    <li class="wow zoomIn" data-wow-delay="0.5s"><span class="incliude active"></span></li>
                                </ul>
                                <div class="buttons wow zoomIn" data-wow-delay="0.5s"><a class="btn btn-primary" href="#">Buy Now</a></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
  
    {% include "partial/footer-bottom.html" ignore missing %}


{% endblock %}